@charset "utf-8";
main {
    width: 720px;
    margin: 60px;
}
main form {
    float: left;
    width: 360px;
}
main form h3 {
    font-size: 26px;
    font-family: 'GmarketSans',sans-serif;
    font-weight: 500;
    margin-top: 0;
}
main form label {
    display: block;
}
main form input {
    outline: none;
    border: 1px solid #000;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    color: rgb(46, 46, 126);
}
main form input:focus {
    background-color: #eee;
}
main form input[name=user_chk] {
    width: auto;
    margin-right: 6px;
}
main form button {
    width: 100%;
    border: none;
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
}
main form button:hover{
    background-color: brown;
}
main form p {
    text-align: right;
    font-size: 14px;
}
main form p a {
    display: block;
    text-decoration: underline;
}
main img {
    float: left;
}