@charset "utf-8";

/*** 모바일 ***/
html { font-family:'Nanum Gothic','맑은 고딕',돋움,-apple-system, sans-serif; font-size:16px;}
body {margin: 0;}
ul { list-style: none; margin:0; padding:0;}
a { color: inherit; text-decoration: none; }
img { vertical-align:top; }

.container { display: ;}

/* header */
.container header {
    background-color: #ccc;
    display: flex;
    box-sizing: border-box;
    width:100%; height:70px;
    z-index: 1000;
    position: sticky;
    top:0;
    justify-content: space-between; align-items: center;
    border-bottom: #000 1px solid;
}

/* .container header #gnb {
    display: none;

    position: absolute;
    top:100%; left:0;
    width:100%;
    background-color:#aaa;
    text-transform: capitalize; font-size:1.4rem;
    font-family:'Roboto Condensed', sans-serif;
} */
.container header h1 { margin:0 3%; }
.container header h1 a { background:url(asset/images/logo2.png) no-repeat 0 0 / contain; display:block; width:200px; height:40px; text-indent: 50px; font-size: 20px; font-family: 'pretendard'; line-height: 40px;}

/* menu */
#sideDrawerMenu {
    text-transform: capitalize;
    position: fixed;
    right:0; top:0px;
    width:100%; height:0;
    background-color:#ccc;
    transition: 0.3s;
  }
/*  햄버거 메뉴 아이콘 */
#sideDrawerMenu .icon_bars {
    width:26px; height:20px;
    position: absolute;
    top:25px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }
  #sideDrawerMenu .icon_bars .bar {
    width:100%; height:3px;
    background-color: #000;
    position: absolute;
    
    transition:.2s cubic-bezier(0.68,-0.55,0.27,1.55);
  }
  #sideDrawerMenu .icon_bars .bar:first-child { top:0; transform-origin:top left; }
  #sideDrawerMenu .icon_bars .bar:nth-child(2) { top:50%; transform: translateY(-50%); }
  #sideDrawerMenu .icon_bars .bar:last-child { bottom:0; transform-origin:bottom left; }

  #sideDrawerMenu.on { width:100%; height: 100%; }
  /* 마우스로 클릭했을 때 */
  #sideDrawerMenu.on .icon_bars .bar:first-child { top:0; transform: rotate(45deg);}
  #sideDrawerMenu.on .icon_bars .bar:nth-child(2) { display: none; }
  #sideDrawerMenu.on .icon_bars .bar:last-child { bottom:0; transform: rotate(-45deg);}

   /* gnb */
    #sideDrawerMenu #gnb {
    margin-top: 725px;
    width: 150px;
    position: absolute;
    right: 0;
    font-size: 30px;
    font-family: 'Montserrat';
    /* display: none; */
  } 
  #sideDrawerMenu.on #gnb{
      display: block;
  }
  #sideDrawerMenu #gnb > li {
    margin-top:50px;
  }
  #sideDrawerMenu #gnb ul {
    padding-left:0px;
  }
  #sideDrawerMenu #gnb ul li {
      margin-top: 20px;
  }
  #sideDrawerMenu #gnb ul a {
    color:inherit;
  }

  /* login */
  .container #mobgnb {
      display: flex;
      margin-right: 100px;
  }
  .container #mobgnb li {
      margin-right: 10px;
      font-size: 15px;
      font-weight: 600;
  }

  /* swiper */
    .swiper {
        width: 100%; height: calc(100vh - 350px);
        --swiper-navigation-color: rgb(255, 255, 255);
        --swiper-pagination-color: rgb(255, 255, 255);
        z-index: 1;
    }
  .swiper-slide { background:no-repeat 50% / cover; /* text-indent:-9999px;*/ font-weight: bold; font-size:3rem; display: flex; justify-content: center; align-items: center; color:rgb(255, 255, 255) }
  .swiper-slide.bg1 { background-image: url(asset/images/img1.jpg);}
  .swiper-slide.bg2 { background-image: url(asset/images/img2.jpg);}
  .swiper-slide.bg3 { background-image: url(asset/images/img3.jpg);}
  .swiper-slide.bg4 { background-image: url(asset/images/img4.jpg);}

  .swiper .swiper-pagination-bullet { width:10px; height:10px; }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom:30px;
  }

  /* main */
  main .box {padding: 0 20px;font-weight: 500;}
  main h2 { font-size: 24px; text-transform: uppercase;}
  main h3 {margin: 10px 0; color: #000;}
  main p {margin: 0; color: rgb(34, 34, 34);}

/* box1 */
  main .box1 {margin: 50px 0 80px 0;}
  main .box1 .txt {margin:30px 0;}
  main .box1 .txt p {font-size: 18px; font-weight: bold; }
  main .box1 .txt>div {
    display: flex; justify-content: space-between;
  }

  /* info */
  main .box2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px 80px;
  }
  main .box2 div {
      width: 48%;
      overflow: hidden;
  }
  main .box2 img {
    max-width: 100%; width: 48vw; height: auto;
    margin-bottom: 20px;
  }

  main .box3 #info ul li dl {
      display: flex;
      justify-content: space-between;
      padding: 20px 10px 20px 10px;
      margin: 0;
      border-bottom: #000 1px solid;
      font-weight: bold;
  }

  /* 상세메뉴 */
  main .box4 ul {
    display: flex;
    flex-flow: wrap;
    width: 300px;
    justify-content: space-around;
    text-align: center;
    margin: 70px auto 50px auto;
  }
  main .box4 ul li { width: 90px; margin: 10px 0;}
  main .box4 img {width: 20px;}

  /* 광고 */
  main .box5 {
      background-color: #ddd;
      padding: 50px 5px;
      justify-content: space-around;
  }
  main .box5 .txt2 {
      display: flex;
      justify-content: space-between;
  }
  main .box5 .txt2 div{
    width: 30%;
    overflow: hidden;
    margin: 0 auto;
  }
  main .box5 .txt2 div img {
    width: 30vw;
    max-width: 100%; height: auto;
    margin-bottom: 20px ; 
  }
  main .box5 .txt2 div h3 { font-size: 17px; padding-bottom: 15px; border-bottom: #000 2px solid; width: 125px; }
  
  main .box5 .txt2 div p{
    width: 125px;
    word-break: break-all;
}

  /* 하단 타이틀 */
  .box6 {
      display: flex;
      justify-content: space-around;
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 40px;
  }
  .box6 h1 {
    margin: 0;
  }
  .box6 h1:nth-child(2) { color: rgb(255, 255, 255); text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;}

  /* footer */
  footer { padding: 10px 20px; font-weight: bold; }
  footer ul {display: flex; margin-bottom: 30px;}
  footer ul li{
    margin-right: 20px;
    }
    footer p {font-size: 14px;}

    /***** pc *****/
@media screen and (min-width:1280px) {}